* {
  box-sizing: border-box;
}

.wrapper {
  width: 620px;
  height: 700px;
  padding: 10px;
  background-color: #d9d9ff;
}

.filled {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.cell {
  width: 55px;
  height: 55px;
  background-color: beige;
}

.number1 {
  background-color: rgb(104, 192, 255);
}

.number2 {
  background-color: rgb(255, 255, 50);
}

.number3 {
  background-color: rgb(234, 50, 255);
}

.number4 {
  background-color: rgb(142, 255, 50);
}

.number5 {
  background-color: rgb(74, 50, 255);
}

.number6 {
  background-color: rgb(255, 50, 231);
}

.number7 {
  background-color: rgb(123, 0, 108);
}

.number8 {
  background-color: rgb(0, 90, 123);
}

.bomb {
  background-color: red;
}

.medium {
  width: 35px;
  height: 35px;
}

.hard {
  width: 19px;
  height: 19px;
}
