* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border:none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 630px;
  height: auto;
  background-color: #b9d8ff;
  /* background-color:#00426f; */
  padding: 5px;
  border-radius:5px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #e00000;
}

.submenu {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 3px 8px;
  border: 3px ridge #ffffff;
  background-color:#83cdff;
}

.button-new-game {
  justify-self: center;
  font-size: 2rem;
 }

.settings{
  color:#00426f;
}

.flag-active {
  background-color:#fdf96c;
}

.filled {
  max-width: 620px;
  max-height: auto;
  display: grid;
  grid-template-columns: repeat(10, minmax(10px, 55px));
  grid-gap: 1px;
}

.cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #e9f2ff;
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 3px ridge #FFFFFF;
  font-size: 0.8em;
  font-weight: 800;
}

.hard-level {
  font-size: 0.5em;
}

@media (min-width:500px) {

  .wrapper {
    padding: 10px 20px 20px;
    border-radius: 10px;
  }

  .menu {
    font-size: 2rem;
  }

  .submenu {
    width: 160px;
  }

  .button-new-game {
    font-size: 3rem;
   }

  .filled {
    grid-gap: 3px;
  }

  .cell {
    font-size: 2em;
  }

  .medium-leve {
    font-size: 1.5em;
  }

  .hard-level {
    font-size: 1em;
  }
}

.row {
  display: contents; 
}

.number1,
.number2,
.number3,
.number4,
.number5,
.number6,
.number7,
.number8,
.simple-white,
.bomb {
  border: none;
}

.simple-white {
  background-color: #ffffff;
}

.bomb {
  background-color: #ff7272;
}

.number1 {
  background-color: #fdf96c;
  color: #be9b00;
}

.number2 {
  background-color: #c2fe68;
  color: #365b00;
}

.number3 {
  background-color: #68c2fe;
  color: #00426f;
}

.number4 {
  background-color: #fe68c2;
  color: #8a0053;
}

.number5 {
  background-color: #6cfdf9;
  color: #009590;
}

.number6 {
  background-color: #f96cfd;
  color:#840089;
}

.number7 {
  background-color: #feba48;
  color: #ab6c00;
}

.number8 {
  background-color: #ba48fe;
  color: #560088;
}

